{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
  {% if offerings|length  == 0 %}
  <p class="text-light" style="margin: auto; text-align: center;"></p>No items available!
  {% else %}
  {% for category, offerings_list in offerings.items %}
  {{category}}
  <div class="row">
    {% for offering in offerings_list %}
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <img class="card-img-top float-right" src='/media/{{offering.image}}' alt="Card image"
            style="max-width: 200px; max-height: 150px;">

          <h5 class="card-title">{{offering.name}}</h5>
          <p class="card-text">{{offering.timeStamp}}</p>
          <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#lendModal" onclick="window.location = '/community/deal/{{offering.id}}by{{request.user.id}}/ongoing'">
            Borrow
          </button>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {% endfor %}
  {% endif %}
</div>
  
{% endblock body %}