{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="row mx-5 my-5 pl-5" onload="scrollToBottom()">
    <div class="chat-section col-md-6">
        <h4 class="text-light">Your chat with {{username}}</h4>
        <div class="chatbox" id="chatbox">
            {% for message in messages %}
            {% if message.sender.id == request.user.id %}
            <div class="messageBox px-3 my-1 py-1 mr-2" style="margin-left: auto;" data-sender-id="{{ request.user.id }}"
                id="message-{{ message.id }}">
                {% else %}
                <div class="messageBox px-3 my-1 py-1 ml-2" style="margin-right: auto;"
                    data-sender-id="{{ request.user.id }}" id="message-{{ message.id }}">
                    {% endif %}

                    {{message.message}}
                </div>
                {% endfor %}

            </div>
            <div class="send mx-2 my-1">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>

        <script>
            function scrollToBottom() {
                var div = document.getElementById("chatbox");
                div.scrollTop = div.scrollHeight;
            }

            const chatLog = document.getElementById('chat-log');
            const messageInput = document.getElementById('message-input');
            const sendButton = document.getElementById('send-button');
            const wsScheme = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
            const wsURL = `${wsScheme}//${window.location.host}`;

            // Modify the WebSocket URL with the appropriate path for individual or group messaging
            const roomName = '{{room_name}}'; // Replace with the actual receiver ID
            const socket = new WebSocket(`${wsURL}/ws/chat/${roomName}/`); // For individual messaging

            socket.onopen = function () {
                console.log('WebSocket connection established.');
            };

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);

                // Create a new div element for the message box
                const newMessageBox = document.createElement('div');
                newMessageBox.classList.add('messageBox', 'px-3', 'my-1', 'py-1');
                newMessageBox.setAttribute('data-sender-id', data.sender_id)
                newMessageBox.id = 'message-' + data.id;

                newMessageBox.innerHTML = `${data.message}`;

                if (newMessageBox.dataset.senderId === '{{ request.user.id }}') {
                    newMessageBox.style.marginLeft = 'auto';
                    newMessageBox.classList.add('mr-2');
                } else {
                    newMessageBox.style.marginRight = 'auto';
                    newMessageBox.classList.add('ml-2');
                }

                // Select the parent element with class 'chatbox'
                const chatBoxParent = document.querySelector('.chatbox');

                // Append the new message box to the parent element
                chatBoxParent.appendChild(newMessageBox);

                scrollToBottom();
            };

            sendButton.addEventListener('click', function () {
                const message = messageInput.value;
                socket.send(JSON.stringify({ message: message,
                offering_id: '{{id}}',
                notification_receiver: '{{notification_receiver}}'}));
                
                messageInput.value = '';
            });

            messageInput.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    sendButton.click();
                }
            });
        </script>
</div>

<div class="dealing" style="display: block; align-items: center; text-align: center; margin: auto;">
    <button id="close_deal" class="btn btn-outline-danger">Close Deal</button>
    <script>
        $('#close_deal').click(function(){
            document.location = `/community/deal/{{id}}/closing`;
        })
    </script>
</div>

    {% endblock body %}