{% extends "base.html" %}
{% load humanize %}
{% block body %}

<div class="row my-4 px-3 ml-5">
    <div class="col-md-4" id="chat-history-column">
        <h5 class="text-light mb-3" style="text-align: center;">Chat Histories</h5>
        <div class="chat-histories">
            {% for room, chat in chats.items %}
            <div class="card" style="background: #111827 !important; border: 1px solid #3a3a40 !important;">

                <a href="/community/deal/{{chat.2}}/ongoing" class="card-body"
                    style="color: #d4e4f9; text-decoration: none;">

                    <p class="card-title my-0"><b>{{chat.1.first_name}} {{chat.1.last_name}} ({{chat.1.username}}) -
                            {{chat.3.name}}</b>
                    </p>
                    <p class="card-text my-0">Latest message: {{chat.0.message}} <small class="text-success float-right">{{chat.0.timeStamp | naturaltime}}</small></p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="chat-section col-md-7">
        <h5 class="text-light">Your chat with {{username}} for item "{{item.name}}"</h5>
        <div class="chatbox" id="chatbox">
            {% for message in msgs %}
            {% if message.sender.id == request.user.id %}
            <div class="messageBox px-3 my-1 py-1 mr-2" style="margin-left: auto;"
                data-sender-id="{{ request.user.id }}" id="message-{{ message.id }}">
                {% else %}
                <div class="messageBox px-3 my-1 py-1 ml-2" style="margin-right: auto;"
                    data-sender-id="{{ request.user.id }}" id="message-{{ message.id }}">
                    {% endif %}

                    {{message.message}}<br><small class="text-light float-right">- {{message.timeStamp | naturaltime}}</small>
                </div>
                {% endfor %}

            </div>
            <div class="send mx-2 my-1">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>

        <script>

            $(document).ready(function () {
                $('.card-body').hover(
                    function () {
                        $(this).children().addClass('text-primary');
                    },
                    function () {
                        $(this).children().removeClass('text-primary');
                    }
                );
                
                scrollToBottom();
            });
            
            function scrollToBottom() {
                var div = document.getElementById("chatbox");
                console.log(div);
                div.scrollTop = div.scrollHeight;
            }

            const chatLog = document.getElementById('chat-log');
            const messageInput = document.getElementById('message-input');
            const sendButton = document.getElementById('send-button');
            const wsScheme = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
            const wsURL = `${wsScheme}//${window.location.host}`;

            // Modify the WebSocket URL with the appropriate path for individual or group messaging
            const roomName = '{{room_name}}'; // Replace with the actual receiver ID
            const socket = new WebSocket(`${wsURL}/ws/chat/${roomName}/`); // For individual messaging

            socket.onopen = function () {
                console.log('WebSocket connection established.');
            };

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);

                // Create a new div element for the message box
                const newMessageBox = document.createElement('div');
                newMessageBox.classList.add('messageBox', 'px-3', 'my-1', 'py-1');
                newMessageBox.setAttribute('data-sender-id', data.sender_id)
                newMessageBox.id = 'message-' + data.id;

                newMessageBox.innerHTML = `${data.message}`;

                if (newMessageBox.dataset.senderId === '{{ request.user.id }}') {
                    newMessageBox.style.marginLeft = 'auto';
                    newMessageBox.classList.add('mr-2');
                } else {
                    newMessageBox.style.marginRight = 'auto';
                    newMessageBox.classList.add('ml-2');
                }

                // Select the parent element with class 'chatbox'
                const chatBoxParent = document.querySelector('.chatbox');

                // Append the new message box to the parent element
                chatBoxParent.appendChild(newMessageBox);

                scrollToBottom();
            };

            sendButton.addEventListener('click', function () {
                const message = messageInput.value;
                socket.send(JSON.stringify({
                    message: message,
                    offering_id: '{{id}}',
                    notification_receiver: '{{notification_receiver}}'
                }));

                messageInput.value = '';
            });

            messageInput.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    sendButton.click();
                }
            });
        </script>
    </div>

    <div class="dealing" style="display: block; align-items: center; text-align: center; margin: auto;">
        
        {% if borrower_is_defaulter %}
        <button id="defaulter_dealing" class="btn btn-outline-danger disabled" style="cursor: not-allowed;">User defaulter</button>

        {% else %}
        <button id="close_deal" class="btn btn-outline-danger">Close Deal</button>
        <script>
            $('#close_deal').click(function () {
                document.location = `/community/deal/{{id}}/closing`;
            })
        </script>
        {% endif %}
    </div>

    {% endblock body %}