{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
  {% if demands|length  == 0 %}
  <p class="text-light" style="margin: auto; text-align: center;"></p>No items available!
  {% else %}
  {% for category, demands_list in demands.items %}
  {{category}}
  <div class="row">
    {% for demand in demands_list %}
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <img class="card-img-top float-right" src='/media/{{demand.image}}' alt="Card image"
            style="max-width: 200px; max-height: 150px;">

          <h5 class="card-title">{{demand.name}}</h5>
          <p class="card-text">{{demand.timeStamp}}</p>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#lendModal">
            Lend
          </button>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {% endfor %}
  {% endif %}
</div>
  
{% endblock body %}