{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="container mt-5">
  {% if demands|length  == 0 %}
  <p class="text-light" style="margin: auto; text-align: center;"></p>No items available!
  {% else %}
  {% for category, demands_list in demands.items %}

  {% if demands_list|length != 0 %}
  <h5 class="text-light my-3">[ {{category}} - {{demands_list|length}} item(s) ]</h5>
  {% endif %}

  <div class="row">
    {% for demand in demands_list %}
    <div class="col-md-6 my-2">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <img class="card-img-top float-right" src='/media/{{demand.image}}' alt="Card image"
            style="max-width: 200px; max-height: 150px;">

          <h5 class="card-title">{{demand.name}}</h5>
          <p class="card-text text-success">{{demand.timeStamp|naturaltime}}</p>
          <p class="card-text"><b>Item description:</b> {{demand.description}}</p>

          <p class="card-text"><b>By</b> {{demand.lender.username}}</p>
          <button type="button" class="btn btn-success mt-3" onclick="document.location = '/community/create-offering-for-demand/{{demand.id}}'">
            Lend
          </button>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>

  {% if demands_list|length != 0 %}
  <hr class="mt-4 mb-5" style="background: rgb(99, 99, 99); margin-top: 0px;">
  {% endif %}
  
  {% endfor %}
  {% endif %}
</div>
  
{% endblock body %}