body {
    background: #0e141e !important;
    height: fit-content;
    width: 100vw;
}

html {
    scrollbar-width: none;
}

/* Hide scrollbar for Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chatbox::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.chat-histories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat-histories{
    overflow-y: scroll;
    height: 75vh;
}

.navbar {
    background-color: #050c1b !important;
}

.modal-content {
    background-color: #343a40;
    color: #fff;
}

.card {
    background: #1d2432 !important;
}

header {
    height: 16vh;
    width: 100vw;
    background: #111827 !important;
}

#hr1 {
    background: rgb(99, 99, 99);
    margin-top: 0px;
}


.messageBox {
    /* flex: 0 0 auto; */ /* Set flex-grow, flex-shrink, and flex-basis */
    
    max-width: 50%;
    height: fit-content;
    border-radius: 0.7rem;
    border: 1px solid #3a3a40 !important;
    color: #d4e4f9;
    /* background: #111827; */
    background: rgb(0, 0, 160);
    z-index: -1000;
}

.chatbox {
    height: 500px;
    width: 100%;
    border: 1px solid #3a3a40 !important;
    border-radius: 0.7rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 7px 5px -5px white, inset 0 -7px 5px -5px white;
}

#message-input{
    width: 88%;
    border-radius: 0.5rem;
}

#send-button{
    width: 8%;
    border-radius: 0.5rem;
    border-left: 1px solid grey;
}

#notification_container{
    height: 300px;
    overflow-y: scroll;
    width: 450px;
}

#notification_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.categories{
    cursor: pointer;

}

.categories:hover{
    color: blue;
    text-decoration: underline;
}

