{% extends "base.html" %}
{% load static %}
{% block body %}

<!-- Cards in the same row -->
<header>
  <div class="mx-5 px-5">
    <h4 class="my-5" style="position: absolute; color: #eef4fc;">Welcome</4>
  </div>
</header>
<hr id="hr1">

<div class="mx-5 px-5 mt-5">

  <h5 class="my-4" style="color: #d4e4f9;">Services</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="card text-light">

        <div class="card-body">
          <h5 class="card-title">Item 1</h5>
          <p class="card-text">Description of item 1.</p>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#lendModal">
            Lend
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-light">
        <div class="card-body">
          <h5 class="card-title">Item A</h5>
          <p class="card-text">Description of item A.</p>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#BorrowModal">
            Borrow
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Lend Modal -->
  <div class="modal fade" id="lendModal" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lendModalLabel">Lend Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Lend Form -->
          <form action="/lend/">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Enter your full name" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
            </div>
            <div class="form-group">
              <label for="picture">Upload Picture</label>
              <input type="file" class="form-control-file" id="picture">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--borrow modal-->
  <div class="modal fade" id="BorrowModal" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lendModalLabel">Borrow Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Borrow Form -->
          <form>
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Enter your full name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </div>
      </div>
    </div>
  </div>

  <h5 class="my-4" style="color: #d4e4f9;">Latest deals</h5>
  <div class="row">
    {% for deal in "111111" %}
    <div class="col-md-4 my-4">
      <div class="card" style="background: #111827 !important; border: 1px solid #3a3a40 !important;">

        <div class="card-body" style="color: #d4e4f9;">
          <h5 class="card-title">Item 1</h5>
          <p class="card-text">Description of item 1.</p>
          <button type="button" class="btn btn-light mt-3" data-toggle="modal" data-target="#lendModal">
            Lend
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h5 class="my-4" style="color: #d4e4f9;">Categories</h5>

  <div class="row my-2 mx-1"
    style="background: #111827 !important; border: 1px solid #3a3a40 !important; border-radius: 0.5rem;">
    {% for deal in "123456789xyzAB" %}
    <div class="col-md-4 py-3 mx-0" style="color: #d4e4f9; border-right: 1px solid #1d2432;">
      <h5>Category - {{deal}}</h5>
    </div>
    {% endfor %}
  </div>

</div>

<div class="row mx-5 my-5 pl-5">
    <div class="chat-section col-md-8">
      <div class="chatbox">
        {% for message in "abcdefghi" %}
        <div class="messageBox float-right mx-1 px-3 my-2 py-2">
          {% if message.mine %}
        <div class="messageBox float-start mx-1 px-1 my-2 py-1">
          {% elif message.their %}
        <div class="messageBox float-end mx-1 px-1 my-2 py-1">
          {% endif %}
            
          dummy text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolores cumque blanditiis nam corrupti quibusdam.
        </div>
        {% endfor %}
    
      </div>
    </div>
</div>


  <footer class="mt-5" style="background: #050c1b; height: 60px; width: 100vw;">
    <p class="py-3" style="margin: auto; text-align: center; display: block;">
      <a href="" style="color: #40c1e8;">About Us</a><span style="color: #b7c9cc;"> | </span>
      <a href="" style="color: #40c1e8;">Support</a><span style="color: #b7c9cc;"> | </span>
      <a href="" style="color: #40c1e8;">Terms Of Service</a>
    </p>
  </footer>

  {% endblock body %}