{% extends "base.html" %}
{% load static %}
{% block body %}

<!-- Cards in the same row -->

<header>
  <div class="mx-5 px-5">
    <h4 class="my-5" style="position: absolute; color: #eef4fc;">Welcome</4>
  </div>
</header>
<hr id="hr1">

<div class="mx-5 px-5 mt-5">

  <h5 class="my-4" style="color: #d4e4f9;">Services</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="card text-light">

        <div class="card-body">
          <h5 class="card-title">Item 1</h5>
          <p class="card-text">Description of item 1.</p>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#lendModal">
            Lend
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-light">
        <div class="card-body">
          <h5 class="card-title">Item A</h5>
          <p class="card-text">Description of item A.</p>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#BorrowModal">
            Borrow
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Lend Modal -->
  <div class="modal fade" id="lendModal" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lendModalLabel">Lend Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Lend Form -->
          <form class="row g-5 mt-1" action="/community/borrow/" method="post"
            enctype="multipart/form-data"> {% csrf_token %}

            <div class="col-md-12 my-3">
                {{offering_form.as_p}}
            </div>

            <div class="col-12 my-2">
                <button type="submit" class="btn btn-outline-light btn-sm rounded-pill my-1">Upload</button>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--borrow modal-->
  <div class="modal fade" id="BorrowModal" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lendModalLabel">Borrow Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Borrow Form -->
          <form class="row g-5 mt-1" action="/community/lend/" method="post"
            enctype="multipart/form-data"> {% csrf_token %}

            <div class="col-md-12 my-3">
                {{demand_form.as_p}}
            </div>

            <div class="col-12 my-2">
                <button type="submit" class="btn btn-outline-light btn-sm rounded-pill my-1">Upload</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </div>
      </div>
    </div>
  </div>

  <h5 class="my-4" style="color: #d4e4f9;">Latest deals</h5>
  <div class="row">

    {% if deals|length  == 0 %}
      <p class="text-light" style="margin: auto; text-align: center;"></p>No deals available!
    {% else %}
    {% for deal in deals %}
    <div class="col-md-4 my-4">
      <div class="card" style="background: #111827 !important; border: 1px solid #3a3a40 !important;">

        <div class="card-body" style="color: #d4e4f9;">
          <h5 class="card-title">{{deal.item.name}}</h5>
          <p class="card-text">{{deal.timeStamp}}</p>
          <button type="button" class="btn btn-light mt-3" onclick="document.location = '/community/deal/{{deal.id}}/closed'">
            View
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <h5 class="my-4" style="color: #d4e4f9;">Borrow Categories</h5>

  <div class="row my-2 mx-1"
    style="background: #111827 !important; border: 1px solid #3a3a40 !important; border-radius: 0.5rem;">

    {% if categories|length  == 0 %}
      <p class="text-light" style="margin: auto; text-align: center;"></p>No category added yet!
    {% else %}

    {% for category in categories %}
    <div class="col-md-4 py-3 mx-0" style="color: #d4e4f9; border-right: 1px solid #1d2432;">
      <h5 class="categories" onclick="document.location = '/community/borrow/#category-{{category}}'">{{category}}</h5>
    </div>
    {% endfor %}

    {% endif %}
  </div>

</div>

    {% endblock body %}